{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": {
                    "version": 3
                },
                "targets": {
                    "node": "8.3.2"
                }
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime"
        ],
        "@babel/plugin-transform-regenerator"
    ]
}